.form__mic {
    display: flex;
    border: 1px solid rgba(14, 165, 233, 1);
    background: #0F172A;
    border-radius: 10px;
    color: rgba(14, 165, 233, 1);
    padding: 10px;
    font: inherit;
    width: 180px;
    height: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.form__mic:hover {
    color: #F8FAFC;
    background:  rgba(14, 165, 233, 1);
}